*{font-family: Microsoft YaHei; font-size: 10pt;}

QTableView::item:selected {background: rgb(240, 116, 100); color: white; border: 0px;}

#page_8, #page_5, #page_3, #page_7, #page_display {
	background-color: #A0A0A0;
}

#widget_container, #widget_container2, #widget_container3 {
	background-color: #E8E8EA;
}

QComboBox {
    border: 1px solid gray;
    border-radius: 3px;
    padding: 1px 2px 1px 2px;
    min-width: 7 em;
    background-color: white;
    height: 30px;
    selection-background-color: #BDD7FD;
    selection-color: black;
    /* border-top-color: rgb(218, 216, 216) */
    combobox-popup: 0;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    /* width: 20px; */
    border-left-width: 1px;
    border-left-color: darkgray;
    border-left-style: solid; /* just a single line */
    border-top-right-radius: 3px; /* same radius as the QComboBox */
    border-bottom-right-radius: 3px;
}

QComboBox::down-arrow{
	border-image: url(:/picture/resourses/1485528481_arrow-down-01.png);
}

QComboBox QAbstractItemView::item:selected{background-color: #BDD7FD;}


QPushButton {
border-style:none;
border:1px solid #B2B6B9;
color:#000000;
padding:3px;
min-height:15px;
border-radius:5px;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #E1E4E6,stop:1 #CCD3D9);
}
QPushButton:hover {
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #E5F1FB,stop:1 #E5F1FB);
}
QPushButton:pressed {
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #CCE4F7,stop:1 #CCE4F7);
}

QPushButton#pushButton_partition {
border-radius: 3px;
padding: 1px 2px 1px 2px;
min-width: 7 em;
border-style:none;
border:1px solid #B2B6B9;
color:#000000;
/* font: 12px;
height: 30px; */
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #E1E4E6,stop:1 #CCD3D9);
}
QPushButton#pushButton_partition:hover {
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #E5F1FB,stop:1 #E5F1FB);
}
QPushButton#pushButton_partition:pressed, QPushButton#pushButton_partition:checked  {
background: #A4D6D8;
}


QPushButton#pushButton_3, QPushButton#pushButton_4, QPushButton#pushButton_22{
border-image: url(:/picture/resourses/Open_folder_add_512px_1186192_easyicon.net.png);
padding: 1px;
margin-bottom: 2px;
background: none;
border: 2px solid #B2B6B9;
border-radius: 1px;
min-height: 30px;
min-width: 30px;
}
QPushButton#pushButton_3:hover:!pressed, QPushButton#pushButton_4:hover:!pressed, QPushButton#pushButton_22:hover:!pressed
{
  border: 1px solid red;
}
QPushButton#pushButton_3:disabled, QPushButton#pushButton_4:disabled, QPushButton#pushButton_22:disabled 
{
    border-image: url(:/picture/resourses/disabled_file.png); 
}

QPushButton#pushButton_input1, QPushButton#pushButton_input2{
    border: 1px solid gray;
    border-radius: 3px;
    padding: 1px 2px 1px 2px;
    min-width: 7 em;
    background-color: white;
    /* font: 12px;
    height: 30px; */
    text-align: left;
    }

/* #pushButton_lng {
border-style:none;
border:none;
background:none;
}
#pushButton_lng:hover, #pushButton_lng:pressed {
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #E1E4E6,stop:1 #CCD3D9);
} */

/* QPushButton::menu-indicator {
subcontrol-position: right center;
right: 5px;
} */

QPushButton::menu-indicator {
    subcontrol-position: right center;
    subcontrol-origin: padding;
    width: 15px;
    /* height: 15px; */
    right: 5px;
    border-left: 1px solid gray;
    border-image: url(:/picture/resourses/1485528481_arrow-down-01.png);
}


QToolButton::menu-indicator{
subcontrol-position: right center;
right: 5px;
}


QPushButton QMenu::separator
{
    height: 1px;
    border-bottom: 1px solid lightGray;
    background: #5A5A5A;
    margin-left: 2px;
    margin-right: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
 }

/*
QToolButton#toolButton_start {
    margin-left:24px;
}
*/

QProgressBar{
min-height:20px;
background:#E1E4E6;
border-radius:5px;
text-align:center;
border:1px solid #E1E4E6;
}

QProgressBar:chunk{
border-radius:5px;
background-color:rgb(76, 169, 106);
}

QGroupBox{
border:1px solid #B2B6B9;
border-radius:5px;
margin-top:3ex;
}

QGroupBox::title{
subcontrol-origin: margin;
subcontrol-position: relative;
left:10px;
}
QGroupBox::indicator,QTreeWidget::indicator,QListWidget::indicator{
padding:0px -3px 0px 3px;
}
QGroupBox::indicator,QTreeWidget::indicator,QListWidget::indicator{
width:13px;
height:13px;
}

/* QGroupBox#groupBox_top_line {
border-top:1px solid #B2B6B9;
}

QGroupBox#groupBox_top_line::title{
    subcontrol-origin: margin;
    subcontrol-position: top left;
    } */

QDialog QDialogButtonBox
{
dialogbuttonbox-buttons-have-icons: 1;
dialog-ok-icon: url(:/picture/resourses/btn_ok.png);
dialog-cancel-icon: url(:/picture/resourses/btn_close.png);
dialog-close-icon: url(:/picture/resourses/btn_close.png);
dialog-discard-icon: url(:/picture/resourses/btn_close.png);
dialog-no-icon: url(:/picture/resourses/btn_close.png);
dialog-yes-icon: url(:/picture/resourses/btn_ok.png);
dialog-apply-icon: url(:/picture/resourses/Adobe Version Cue.png);
dialog-reset-icon: url(:/picture/resourses/label_new green.png);
}
QMessageBox
{
messagebox-information-icon: url(:/picture/resourses/msg_info.png);
messagebox-question-icon: url(:/picture/resourses/msg_question.png);
messagebox-critical-icon: url(:/picture/resourses/msg_error.png);
messagebox-warning-icon: url(:/picture/resourses/480px-Lol_exclam.png);
background-color: white;
border: .5px solid #C1BFBF;
border-radius:3px;
margin: 5px;
padding: 5px;
messagebox-text-interaction-flags: 5;
}

QInputDialog QPushButton, QMessageBox QPushButton{
border-style:none;
border:1px solid #B2B6B9;
color:#000000;
padding:4px;
min-height:10px;
min-width: 65px;
border-radius:5px;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #E1E4E6,stop:1 #CCD3D9);
}

QInputDialog QPushButton:hover, QMessageBox QPushButton:hover{
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #E5F1FB,stop:1 #E5F1FB);
}

QInputDialog QPushButton:pressed, QMessageBox QPushButton:pressed{
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #CCE4F7,stop:1 #CCE4F7);
}

QFileDialog QWidget::item:hover {background-color: #BDD7FD; color: black;}
QFileDialog QWidget::item:selected {background-color: #BDD7FD; color: black} 

QTreeView {
    selection-color: black; 
    selection-background-color: #BDD7FD;
}

QTreeView::branch:has-siblings:!adjoins-item {
    border-image: url(:/picture/resourses/vline.png) 0;
}

QTreeView::branch:has-siblings:adjoins-item {
    border-image: url(:/picture/resourses/branch-more.png) 0;
}

QTreeView::branch:!has-children:!has-siblings:adjoins-item {
    border-image: url(:/picture/resourses/branch-end.png) 0;
}

QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
    border-image: none;
    image: url(:/picture/resourses/branch-closed.png);
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings  {
    border-image: none;
    image: url(:/picture/resourses/branch-open.png);
}	
QTreeView::node {
border-image: none;
image: url(:/picture/resourses/msg_info.png);
}

QLineEdit {
    border: 1px solid gray;  
    border-radius: 3px; 
    background: white;  
    selection-background-color: green; 
    selection-color:white;
    height: 30px;
}

QLineEdit:hover {
    border: 1px solid blue;  
}

QAbstractSpinBox:focus, QAbstractSpinBox:hover{
border: 1px solid blue;
}
QAbstractSpinBox {  
    border:1px solid #B2B6B9;
	border-radius:3px;
	padding:2px; 
    background:white;
    selection-background-color: green;
    selection-color:white;
    min-width: 60px;
}  
  
QAbstractSpinBox:up-button  
{  
    background-color: transparent;  
    subcontrol-origin: border;  
    subcontrol-position: center right;  
}  
  
QAbstractSpinBox:down-button  
{  
    background-color: transparent;  
    subcontrol-origin: border;  
    subcontrol-position: center left; 
}  
  
QAbstractSpinBox::up-arrow,QAbstractSpinBox::up-arrow:disabled,QAbstractSpinBox::up-arrow:off {  
    image: url(:/picture/resourses/up_arrow_disabled.png);  
    width: 10px;  
    /* height: 10px;   */
}  
QAbstractSpinBox::up-arrow:hover  
{  
    image: url(:/picture/resourses/up_arrow.png);  
}  
  
  
QAbstractSpinBox::down-arrow,QAbstractSpinBox::down-arrow:disabled,QAbstractSpinBox::down-arrow:off  
{  
    image: url(:/picture/resourses/down_arrow_disabled.png);  
    width: 10px;  
    /* height: 10px;   */
}  
QAbstractSpinBox::down-arrow:hover  
{  
    image: url(:/picture/resourses/down_arrow.png);  
}  

QCheckBox  
{  
    spacing: 2px;  
    outline: none;  
    color: black;  
    margin-bottom: 2px; 
}   
 
QCheckBox:disabled  
{  
    color: #76797C;  
}  
 
QCheckBox::indicator,  
QGroupBox::indicator  
{  
    width: 17px;  
    height: 17px;  
} 

QCheckBox::indicator:unchecked  
{  
    image: url(:/checkbox/resourses/Checkbox/checkbox_unchecked_focus.png);
    border: 1px solid transparent;
}  
  
QCheckBox::indicator:unchecked:hover,  
/* QCheckBox::indicator:unchecked:focus,   */
QCheckBox::indicator:unchecked:pressed,  
QGroupBox::indicator:unchecked:hover,  
/* QGroupBox::indicator:unchecked:focus,   */
QGroupBox::indicator:unchecked:pressed  
{  
    border: 2px solid transparent;
    image: url(:/checkbox/resourses/Checkbox/checkbox_unchecked_focus.png);  
}  
  
QCheckBox::indicator:checked  
{  
    image: url(:/checkbox/resourses/Checkbox/checkbox_checked_focus.png);
    border: 1px solid transparent;
}  
  
QCheckBox::indicator:checked:hover,  
/* QCheckBox::indicator:checked:focus,   */
QCheckBox::indicator:checked:pressed,  
QGroupBox::indicator:checked:hover,  
/* QGroupBox::indicator:checked:focus,   */
QGroupBox::indicator:checked:pressed  
{  
  border: 2px solid transparent;
  image: url(:/checkbox/resourses/Checkbox/checkbox_checked_focus.png);  
}  
  
  
QCheckBox::indicator:indeterminate  
{  
    image: url(:/checkbox/resourses/Checkbox/checkbox_indeterminate.png);  
}  
  
QCheckBox::indicator:indeterminate:focus,  
QCheckBox::indicator:indeterminate:hover,  
QCheckBox::indicator:indeterminate:pressed  
{  
    image: url(:/checkbox/resourses/Checkbox/checkbox_indeterminate_focus.png);  
}  
  
QCheckBox::indicator:checked:disabled,  
QGroupBox::indicator:checked:disabled  
{  
    image: url(:/checkbox/resourses/Checkbox/checkbox_checked.png);  
}  
  
QCheckBox::indicator:unchecked:disabled,  
QGroupBox::indicator:unchecked:disabled  
{  
    image: url(:/checkbox/resourses/Checkbox/checkbox_unchecked.png);  
}
  
  
  
QRadioButton  
{  
    spacing: 5px;  
    outline: none;  
    color: black;  
    margin-bottom: 2px;  
}  
  
QRadioButton:disabled  
{  
    color: #76797C;  
}  
/* QRadioButton::indicator  
{  
    width: 26px;  
    height: 26px;  
}   */
  
QRadioButton::indicator:unchecked  
{  
    image: url(:/checkbox/resourses/Checkbox/radio_unchecked.png);  
}  
  
  
QRadioButton::indicator:unchecked:hover,  
QRadioButton::indicator:unchecked:focus,  
QRadioButton::indicator:unchecked:pressed  
{  
    border: none;  
    outline: none;  
    image: url(:/checkbox/resourses/Checkbox/radio_unchecked_focus.png);  
}  
  
QRadioButton::indicator:checked  
{  
    border: none;  
    outline: none;  
    image: url(:/checkbox/resourses/Checkbox/radio_checked_focus.png);  
}  
  
QRadioButton::indicator:checked:hover,  
QRadioButton::indicator:checked:focus,  
QRadioButton::indicator:checked:pressed  
{  
    border: none;  
    outline: none;  
    image: url(:/checkbox/resourses/Checkbox/radio_checked_focus.png);  
}  
  
QRadioButton::indicator:checked:disabled  
{  
    outline: none;  
    image: url(:/checkbox/resourses/Checkbox/radio_checked.png);  
}  
  
QRadioButton::indicator:unchecked:disabled  
{  
    image: url(:/checkbox/resourses/Checkbox/radio_unchecked.png); 
     
}  


Qlabel#label_flow_sum, Qlabel#label_flow_resul 
{
    font: bold 25px;
}

QTextEdit{
    selection-color: white; 
    selection-background-color: rgb(238, 101, 83);
    font-family: "Courier New" 
}

QPlainTextEdit{
    selection-color: white;
    selection-background-color: rgb(238, 101, 83);
    font-family: "Courier New"
}

#topWidget , TestWidget
    {
        color: #eff0f1;
        background-color: #F0F0F0;
        /* selection-background-color:#3daee9; */
        selection-color: #eff0f1;
        background-clip: border;
        border-image: none;
        /* border: 0px transparent black; */
        outline: 0;
        border-bottom: 2px ridge #B9B9B9;
        border-left: 2px dotted #B9B9B9;
        border-right: 2px dotted #B9B9B9;    
    }
TestWidget > QPushButton{
    border-width: 1px;
    
}    
   
    
QWidget #topWidget >QWidget:hover , TestWidget:hover
    {
        background-color: #D8E6F2;
        color: #eff0f1;
    }

/* QWidget #topWidget >QWidget:pressed
    {
        background-color: rgb(6, 64, 114);
        border: 1px solid red;
    } not worked*/

BaseMenuWidget{

        border:1px solid rgb(17, 66, 116);
    }

BaseButton 
{
    background-color: transparent;
    border: none;
}

BaseButton:hover {
    background:transparent;
    }

BaseTable {
    border: 0px none transparent;
    border-radius: 15px;
    background-color: #FFFFFF;
}

BaseTable::item:hover {
    background-color: #D8E6F2;
    border: 1px solid transparent;
}


BaseTable::item:pressed {
    background-color:  rgb(229, 236, 243);
    border: 1px solid transparent;
}

BaseTable::item:selected:active 
{
    background-color: #D8E6F2;
    color: #000000;
    border: 0px none transparent;
}

#settings_widget {
    border-left: 2px dotted #B9B9B9;
}


QToolTip { 
    /* color: #ffffff; 
    background-color: #0078D7; */
    border: 1px solid white;
    min-height: 20px;
    }


QListView{outline: 0; }
QListView::item:selected:active{color: #000000}
/* QListView::item:hover {background: #BDD7FD} */

QDateEdit
{
    border: 1px solid gray;
    border-radius: 3px;
    padding: 1px 2px 1px 2px;
    min-width: 7 em;
    background-color: white;
    /* font: 12px;
	height: 30px; */
}


QDateEdit::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 20px;
    border-left-width: 1px;
    border-left-color: darkgray;
    border-left-style: solid; /* just a single line */
    border-top-right-radius: 3px; /* same radius as the QComboBox */
    border-bottom-right-radius: 3px;
}


QListWidget {
    selection-color: black; 
    selection-background-color: #BDD7FD;
}


/* QDateEdit::down-arrow {
    border-image: url(:/picture/resourses/1485528481_arrow-down-01.png);
    height:15px;
    width:15px;
  } */

/*QTextEdit#textEdit_flowchart {font-family: "Times New Roman";
                              font-size:16 px}*/


/* 
QListWidget
{
    border:1px solid gray; 
    color:black;     
}


QListWidget::item:hover
{
    show-decoration-selected:5;
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #FAFBFE, stop: 1 #DCDEF1);
}

QListWidget::item:selected
{
    background:skyblue;
    padding:0px;
    margin:0px;
    color:red;
}

QListWidget::item:selected:!active
{
    border-width:0px;
    background:lightgreen;
}



QListWidget#listWidget_workflow::item:hover
{
    show-decoration-selected:none;
    background: none
}

QListWidget#listWidget_workflow::item:selected
{
    background:none;
    padding:0px;
    margin:0px;
    color:none;
}

QListWidget#listWidget_workflow::item:selected:!active
{
    border-width:0px;
    background:none;
} */

QToolBox  {
    padding: 2px;
    border: 1px transparent black;
    background-color: white;
}

QToolBox QWidget {
    background-color: white;
}

QToolBox::tab {
    color: #000000;
    background-color: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #E1E4E6,stop:1 #CCD3D9);
    border: 1px solid #76797C;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

QToolBox::tab:selected { /* italicize selected tabs */
    font: italic;
    background-color: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #E1E4E6,stop:1 #CCD3D9);
    border-color: #3daee9;
 }